.zoomable-image {
    width: 300px; /* Ancho de la imagen */
    transition: transform 0.2s; /* Transición suave al aplicar el zoom */
}

.zoomable-image:hover {
    transform: scale(1.5); /* Aplicar un zoom de 1.5 veces el tamaño original en el hover */
}

@media (min-width: 1024px) {
    .color-list {
    row-cols: 3;
    justify-content: center;
    }
}
@media (max-width: 1023px) {
    .color-list {
    row-cols: 2;
    justify-content: center;
    }
}

